
<div class="row justify-content-center align-items-center mt-5">
<%= render @post %>
  <div class="input-group justify-content-center shadow">
    <%= link_to "Editar Noticia", edit_post_path(@post), class: "btn btn-primary" %>
    <%= link_to "Volver a Noticia", posts_path, class: "btn btn-warning" %>
    <%= button_to "Eliminar Noticia", @post, method: :delete, class: "btn btn-primary  " %>
  </div>
</div>

